.results_wrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

th{
    padding: 5px 30px;
}

.score, .percentage{
    font-size: 50px;
    font-weight: 700;
}

.red{
    color: #ff0000;
}
.green{
    color: #02a602;
}
.blue{
    color: #0000ff
}

.percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}