.cust_slider{
    width: 300px;
    margin: auto;
}
.cust_slider-track{
    top: 8px;
    height: 8px;
    background: #bababa;
}
.cust_slider-track.cust_slider-track-0{
    background: #645265;
}

.cust_slider-thumb {
    cursor: pointer;
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    outline: none;
  }

.slider_wrapper{
    display: flex;
    gap: 12px;
    background-color: gray;
    align-items: center;
}
.color_name{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 900;
}